@keyframes animated {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}

.container {
  --color1: #f1a3b2;
  --color2: #eb62bc;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.indicator {
  display: flex;
  height: 2rem;
  width: 5rem;
  border-radius: 1rem;
  animation: animated 500ms alternate infinite;
  background-image: linear-gradient(var(--color1), var(--color2));
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}
